@use './util/' as *;
@use './components/' as *;

.hero {
  height: 100dvh;
  background-image: linear-gradient(to bottom, #fff, #000);
  position: relative;
  overflow: hidden;
  @include df(center, center, column, 0px);
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  .hero__content {
    padding: 0 5%;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, transparent, #000);
    @include df(center, center, column, 0px);
    > span {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
      color: #fff;
    }
    h1 {
      text-align: center;
      font-size: 3rem;
      margin-top: 10px;
      color: #fff;
      .textstroke {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
      }
    }
    p {
      text-align: center;
      color: #ccc;
      margin-top: 10px;
      font-size: 1.2rem;
      line-height: 1.5;
    }
    @include hero__a;
    >* {
      max-width: 800px;
    }
    @media (min-width: $desktop) {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

.home__services {
  padding: 50px var(--side-padding);
  @include df(center,  center, column, 70px);
  h2 {
    @include heading(var(--text), var(--bg));
    & {
      color: var(--text);
      font-size: clamp(2rem, 5dvw, 3rem);
    }
  }
  &__content {
    @include df(center, center, row wrap, 30px);
    &__card {
      @include card;
    }
  }
  &__morebtn {
    @include btn(#fff, var(--text));
    & {
      background: var(--text);
    }
  }
}

footer {
  padding: 40px var(--side-padding);
  background-color: #000;
  color: #fff;
  min-height: 50dvh;
  @include df(center, center, column, 10px);
  >* {
    max-width: 375px;
  }
  h1 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  p:first-of-type {
    color: #ccc;
    font-style: italic;
    margin-bottom: 10px;
  }
  .useful__links, .more__links, .footer__contact__links {
    margin-top: 20px;
    list-style: none;
    @include df(center, center, column, 25px);
    li {
      text-align: center;
      &:first-child {
        width: 100%;
        min-width: 150px;
        padding-bottom: 10px;
        border-bottom: 1px solid;
        color: grey;
      }
      a {
        color: #ccc;
        text-decoration: none;
        transition: all .3s;
        &:hover {
          color: goldenrod;
          transform: scale(1.05);
        }
      }
    }
  }
  .social__links {
    margin: 40px 0;
    list-style: none;
    @include df(center, center, row, 15px);
    li {
      a {
        background: rgba(#222121, .5);
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid;
        @include df(center, center);
        text-decoration: none;
        font-weight: 700;
        transition: all .3s;
        color: #fff;
        i {
          color: inherit;
          font-size: 1.5rem;
        }
        &.facebook {
          &:hover {
            transform: translateY(-5px);
            background: rgba(blue, .1);
            color: blue;
          }
        }
        &.instagram {
          &:hover {
            transform: translateY(-5px);
            background: rgba(crimson, .1);
            color: crimson;
          }
        }
        &.twitter {
          &:hover {
            transform: translateY(-5px);
            background: rgba(dodgerblue, .1);
            color: dodgerblue;
          }
        }
      }
    }

  }
  .copy {
    text-align: center;
    font-size: 13px;
    color: #7a7a7a;
    max-width: none;
    border-top: 1px solid;
    padding-top: 10px;
    margin: 30px 0 10px 0;
  }
  @media (min-width: $tab) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "h . ."
      "m . s"
      "u l s"
      "f . s"
      "c c c"
    ;
    h1 {
      grid-area: h;
    }
    p:first-of-type {
      grid-area: m;
    }
    .useful__links {
      grid-area: u;
      @include df(normal, start, column, 20px);
      >* {
        text-align: left !important;
      }
    }
    .more__links {
      grid-area: l;
      align-self: start;
      @include df(normal, start, column, 20px);
      >* {
        text-align: left !important;
      }
    }
    .footer__contact__links {
      grid-area: f;
      align-self: start;
      @include df(normal, start, column, 20px);
      >* {
        text-align: left !important;
      }
    }
    .social__links {
      grid-area: s;
      justify-content: right;
    }
    .copy {
      grid-area: c;
    }
  }
}