@use './mixins' as *;
@use './vars' as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: "outfit", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  img,svg {
    display: block;
    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }
    @media (min-width: $tab) {
      &.mobile {
        display: none;
      }
      &.desktop {
        display: block;
      }
    }
  }
}