

@font-face {
  font-family: 'outfit';
  src: url('../../assets/fonts/Outfit-VariableFont_wght.ttf');
}

@mixin df($j:normal, $a:normal, $fl:row, $g:0){
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-flow: $fl;
  gap: $g;
}

@mixin h2 {
  h2 {
    line-height: 1;
    font-size: clamp(2rem, 5dvw, 2.5rem);
    position: relative;
    background-color: #fff;
    padding: 0 10px;
    -webkit-text-stroke: 1px #121212;
    color: transparent;
    align-self: center;
    @include df(center, center);
    &::before {
      content: '';
      height: 2px;
      width: 200%;
      max-width: calc(70dvw);
      background-color: #121212;
      border: 1px solid;
      position: absolute;
      bottom: 50%;
      z-index: -1;
      @media (max-width: 400px) {
        max-width: calc(375px);
      }
    }
  }
}

@mixin hero__a($c:#fff, $b_c: #ccc, $bg:#121212, $hover_color: #fff) {
  a {
    text-decoration: none;
    color: $c;
    border: 1px solid $b_c;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
    transition: all .3s;
    &:hover {
      background-color: rgba(#121212,.8);
      color: $hover_color;
    }
  }
}

/**---New Mixins---**/
@mixin btn($c:#ccc, $bg:#121212) {
  text-decoration: none;
  color: $c;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 10px;
  transition: all .3s;
  &:hover {
    $hover-bg: rgba(#ccc,.8);
    border-color: $hover-bg;
    background-color: $hover-bg;
    color: #121212;
  }
}

@mixin heading($c:#fff, $bg:#121212) {
  line-height: 1;
  font-size: clamp(2rem, 5dvw, 2.5rem);
  position: relative;
  background-color: $bg;
  padding: 0 10px;
  -webkit-text-stroke: 1px $c;
  color: transparent;
  align-self: center;
  @include df(center, center);
  &::before {
    content: '';
    height: 2px;
    width: 150%;
    max-width: 70dvw;
    background-color: $c;
    border: 1px solid $c;
    position: absolute;
    bottom: 50%;
    z-index: -1;
    @media (max-width: 400px) {
      max-width: calc(375px);
    }
  }
}

@mixin card {
  border: 1px solid;
  height: 500px;
  width: 300px;
  transition: all .3s;
  @include df(normal, normal, column);
  * {
    transition: all .3s;
  }
  &__img {
    flex: 100%;
    padding: auto;
    background: #ccc;
    padding: 20px;
    @include df(center, center);
    img {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      filter: grayscale(10);
    }
  }
  &__info {
    margin-top: auto;
    border: 1px solid;
    border-top: 2px solid;
    padding: 20px;
    text-align: center;
    @include df(normal, normal, column, 10px);
    h3 {
      font-size: 2rem;
    }
    >a {
      @include btn(var(--text), var(--bg));
      & {
        text-align: center;
      }
    }
  }
  &:hover {
    transform: translateY(-10px);
    >:nth-child(1) {
      // background: #fff;
      img {
        filter: grayscale(0);
      }
    }
  }
}