@use '../util/' as *;

.achievements {
  border: 3px solid #fff;
  padding: 20px var(--side-padding);
  margin: 20px 0;
  &__content {
    @include df(normal, start, row wrap, 20px);
    &__item {
      border: 1px solid #121212;
      padding: clamp(10px, 2dvw, 15px) 10px;
      padding-bottom: 20px;
      border-bottom: 2px solid;
      transition: all 1s;
      @include df(normal, center, row, 20px);
      i {
        font-size: 30px;
      }
      div {
        h2 {
          font-size: clamp(2rem, 4dvw, 3rem);
        }
      }
      @media (min-width: $desktop) {
        flex: 1 1 calc(33.33% - 40px);
      }
    }
  }
}