@use '../util/' as *;

.faqs {
  padding: 50px 5% 100px 5%;
  @include df(center, center, column, 20px);
  h2 {
    color: transparent;
    font-size: clamp(2rem, 5dvw, 2.5rem);
    -webkit-text-stroke: 1px #121212;
    position: relative;
    background-color: #fff;
    padding: 0 10px;
    @include df(center, center);
    &::before {
      content: '';
      height: 2px;
      width: 200%;
      max-width: 100dvw;
      background-color: #121212;
      border: 2px solid;
      position: absolute;
      bottom: 50%;
      z-index: -1;
    }
  }
  &__content {
    width: 100%;
    max-width: 700px;
    @include df(normal, normal, column, 5px);
    details {
      outline: none;
      transition: all 1s;
      @include df(normal, normal, column, 0);
      &::marker {
        display: none;
      }
      summary {
        cursor: pointer;
        outline: none;
        border: 2px solid #121212;
        list-style: none;
        background:  rgba(#ccc, .3);
        @include df(space-between, center, row, 10px);
        >* {
          padding: 10px 15px;
        }
        &::after {
          content:'+';
          border-left: 1px solid;
          font-size: 1.5rem;
          height: 100%;
          width: 50px;
          transition: all .3s;
          @include df(center,center);
        }
      }
      &::details-content {
        height: 0;
        transition: all 1s;
      }
      &[open] {
        &::details-content {
          height: auto;
        }
      }
      p {
        border: 1px solid #121212;
        border-top: none;
        padding: 15px;
        color: #4d4d4d;
        a {
          border-bottom: 2px solid;
          color: inherit;
          font-weight: 600;
          text-decoration: none;
          display: inline-block;
          transition: all .3s;
          &:hover {
            color: #121212;
          }
        }
      }
      &:open {
        summary {
          &::after {
            content: '-';
          }
        }
      }
    }
  }
}