@forward './loader';
@forward './header';
@forward './faqs';
@forward './instructors';
@forward './vehicles';
@forward './findUs';
@forward './contact';
@forward './achievements';
@forward './reviews';
@forward './services';
@forward './thanks';
@forward './choose';
@forward './how';
@forward './cta';
@forward './about';
@forward './packages';