@use '../util/' as *;

.instructors {
  padding: 5rem 0;
  @include df(center, normal, column, 2rem);
  h2 {
    @include heading(var(--text), var(--bg));
    & {
      color: var(--text);
      font-size: clamp(2rem, 5dvw, 3rem);
      &::before  {
        display: none;
      }
    }
  }
  &__content {
    margin-top: 3rem;
    padding: 0 5%;
    @include df(center, start, row wrap, 2rem);
    .instructor {
      max-width: 250px;
      // border: 1px solid #121212;
      padding: 1rem;
      @include df(center, center, column, 1rem);
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #121212;
        filter: grayscale(10);
      }
      h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0 0.2rem 0;
      }
      p {
        padding-top: 10px;
        border-top: 1px solid;
        text-align: center;
        color: #4d4d4d;
      }
    }
  }
}
