@use '../util/' as *;

.more {
  padding: 50px var(--side-padding);
  min-height: 100dvh;
  position: relative;
  @include df(normal, normal, column, 50px);
  h2 {
    @include heading(#121212, #fff);
  }

  &__content {
    @include df(center, center, row wrap, 30px);
    >* {
      opacity: 0;
      transform: translateY(100px);
      transition: all .3s;
      transition-delay: .5s;
      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__card {
      border: 1px solid;
      height: 500px;
      width: 300px;
      @include df(normal, normal, column);
      >img {
        display: block;
        width: auto;
        max-width: 100%;
        padding: 20px;
        margin: auto 0;
      }
      &__info {
        margin-top: auto;
        border: 1px solid;
        border-top: 2px solid;
        padding: 20px;
        @include df(normal, normal, column, 10px);
        h3 {
          text-align: center;
        }
        >a {
          @include btn(var(--text), var(--bg));
          & {
            text-align: center;
          }
        }
      }
    }
  }
}