@use '../util/' as *;


.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 14;
  padding: 100px var(--side-padding);
  overflow-y: scroll;
  display: none;
  &.open {
    @include df(normal, normal, column, 10px);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &__content {
    background: var(--bg);
    position: relative;
    anchor-name: --modal;
    border-radius: 20px;
    @include df(normal, normal, column, 0);
    
    >* {
      min-width: 250px;
      flex: 1;
      @media (min-width: $mini-tab) {
        padding: 50px 30px 30px 30px!important;
      }
    }
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
  }
  @media (max-width: $mini-tab) {
    padding: 0;
     &__content {
      border-radius: 0;
      width: 100%;
      min-height: 100vh;
      >* {
        padding: 50px var(--side-padding) !important;
      }
    }
  }
}

.modal__close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  position-anchor: --modal;

  top: calc(anchor(--modal top) + 20px);
  right: calc(anchor(--modal right) + 20px);
  transition: all .3s;
  @include df(center, center, column, 5px);
  @media (min-width:$desktop) {
    top: calc(anchor(--modal top) + 30px);
    right: calc(anchor(--modal right) + 30px);
  }
  span {
    width: 30px;
    height: 3px;
    background-color: var(--text);
    display: block;
    position: absolute;
    cursor: pointer;
    @media (min-width: $desktop) {
      background-color: var(--bg);
    }
    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    background: var(--medium);
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#121212,.95);
}

.package {
  padding: 20px;
  position: relative;
  @include df(normal, normal, column, 20px);
  h2 {
    font-size: 2.5rem;
  }
  &__type {
    width: 100%;
    background: var(--text);
    color: var(--bg);
    border-radius:  20px;
    overflow: hidden;
    @include df(normal, normal, row wrap);
    span {
      flex: 1;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      &.selected {
        background: #ccc;
        color: var(--text);
        font-weight: bold;
      }
    }
  }
  // @media (min-width: $desktop) {
  //   max-height: 600px;
  //   overflow-y: scroll;
  // }
}
.package__grid {
  width: 100%;
  display: grid;
  gap: 20px;
  place-items: start;
}
.package__card {
  width: 100%;
  overflow: hidden;
  @include df(normal, normal, column);
  &__head {
    border-radius: 20px 20px 0 0;
    background: var(--text);
    color: var(--bg);
    padding: 20px;
    @include df(center, center, column);
    h3 {
      font-size: 2rem;
      // -webkit-text-stroke: 1px var(--text);
    }
    b {
      @include btn(var(--bg), var(--text));
      & {
        font-weight: 200;
        font-size: 14px;
        padding: 5px 15px;
        background: rgba(#ccc, .1);
      }
    }
  }
  &__body {
    border: 2px solid var(--medium);
    border-top: none;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    background: var(--medium);
    @include df(normal, normal, row wrap, 1px);
    >div {
      background: var(--bg);
      text-align: center;
      padding: 20px;
      font-size: 1.2rem;
      flex: 1 1 50%;
      cursor: pointer;
      transition: all .3s;
      >* {
        transition: all .3s;
      }
      &:hover {
        background: #ccc;
        >* {
          transform: scale(1.1);
        }
      }
      & #pkg__price {
        font-weight: 600;
      }
    }
    >p {
      border: 1px solid purple;
      font-size: 1.2rem;
    }
    #pkg__price {
      // @include btn(var(--text), var(--bg));
        text-align: center;
    }
  }
  @media (min-width: ($mini-tab + 100px)) {
    &__head {
      @include df(space-between, center)
    }
    &__body {
      >div {
        flex: 1;
      }
    }
  }
}

.modal__form {
  padding: 20px;
  background: var(--text);
  color: var(--bg);
  @include df(normal, normal, column, 20px);
  h2 {
    font-size: 2rem;
  }
  > div {
    @include df(normal, normal, column, 10px);
    .entry__area {
      width: 100%;
      border: none;
      position: relative;
      @include df(normal, center);
      legend {
        padding: 0 10px;
        font-size: 14px;
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: var(--text);
        transition: all .3s;
      }
    }
    input,textarea {
      font-family: 'outfit';
      width: 100%;
      color: var(--bg);
      display: block;
      padding: 20px;
      font-weight: 700;
      border: 1px solid;
      background-color: var(--text);
      font-size: 16px;
      transition: all .3s;
      outline: none;
      border,
      &::placeholder {
        color: rgba(#4b4a4a, .6);
        font-family: inherit;
      }
    }
    /* Target the autofill background */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px var(--text) inset !important;
      border: 1px solid var(--bg);
      -webkit-text-fill-color: var(--bg) !important;
    }

    input:-moz-autofill,
    input:-moz-autofill:hover,
    input:-moz-autofill:focus {
      background-color: transparent !important;
      -webkit-text-fill-color: var(--bg) !important;
    }


    [class*=error-message] {
      font-size: 12px;
      color: crimson;
      display: none;
      //@include df(normal, center, row, 5px);
      &::before {
        content: '!';
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid crimson;
        border-radius: 50%;
        text-align: center;
        font-weight: 700;
        font-style: normal;
        @include df(center, center);
      }
    }
    &.correct {
      legend {
        color: goldenrod;
      }
      input,textarea {
        border-color: goldenrod;
      }
    }
    &.wrong {
      legend {
        color: crimson;
      }
      input,textarea {
        border-color: crimson;
      }
      [class*=error-message] {
        @include df(normal, center, row, 5px);
      }
    }
  }
  &__submit, a.call__submit__link {
    font: inherit;
    letter-spacing: 2px;
    border: 1px solid var(--bg);
    background: #121212;
    color: var(--bg);
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: bold;
    @include btn;
    & {
      border-radius: 0;
    }
  }
  @media (min-width: ($mini-tab + 100px)) and (max-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "h h"
      "name email"
      "tel location"
      "submit submit"
    ;
    h2 {
      grid-area: h;
    }
    &__name{
      grid-area: name;
    }
    &__email{
      grid-area: email;
    }
    &__tel{
      grid-area: tel;
    }
    &__submit{
      grid-area: submit;
    }
  }
}